.cart{
    background-color: antiquewhite;
    padding: 25px;
    position: sticky;
    top: 0px;
}
.cart p{
    font-size: 18px;
}
.btn-clear-cart{
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    background: orangered;
    border-radius: 4px;
    color: white;
    height: 56px;
    font-size: 21px;
    align-items: center;
}